
<span>
     <h4>Categories</h4>
     <button type="submit">+</button>
     <hr>
</span>
<ul id="categories">
   
</ul>
<div id="new-category"style="margin-top:100px;">
    <h3>New Category</h3>
    <form>
        <label>Name :</label>
        <input class="form-control"type="text" name="categoryName"><br>
        <label >Default/Not</label>
        <input class="form-control"type="text" name="isDefault"><br>
        <button class="btn btn-md btn-secondary"id="saveCategory"type="submit">Save</button>
    </form>
</div>