
        
        <form>
            <h4>New Task</h4> 
            <hr>
            <!-- <div class="form-group">
                <div id="taskPriority" class="btn-group taskPriority" role="group" aria-label="Basic example">
                  <button type="submit" class="btn btn-secondary" value="low">Low</button>
                  <button type="button" class="btn btn-secondary" value="medium">Medium</button>
                  <button type="button" class="btn btn-secondary" value="high">High</button>
                  <button type="button" class="btn btn-secondary" value="top">Top</button>
                </div>-->
                <input type="text" class="input-group form-control" name="taskName">
                <br>
                 <div class="calender">  
                    <input class="input-group form-control" type="date" name="dueDate">
                </div> 
                <!-- <div class="category-selector ">
                    <select class="custom-select form-control" id="categoryId">
                        <option selected value="defa">Default category</option>
                        <option value="1">Business</option>
                        <option value="2">Work</option>
                        <option value="3">Third</option>
                    </select>
                </div>
                <div>
                    <select class="custom-select form-control " id="isDone">
                        <option selected>Choose...</option>
                        <option value="True">Done</option>
                        <option value="False">Not Yet</option>
                    </select>
                </div>
                <br>
                <div>
                    <select class="custom-select form-control " id="isFavorite">
                        <option selected>Choose...</option>
                        <option value="True">Yes</option>
                        <option value="False">Nope</option>
                    </select>
                </div> --> 
                <input class="input-group form-control" type="text" name="taskPriority"><br>
                <input class="input-group form-control" type="number" name="categoryId"><br>
                <input class="input-group form-control" type="text" name="isDone"><br>
                <input class="input-group form-control" type="text" name="isFavorite"><br>
            </div>
            <button id="save" type="submit" class="btn btn-primary btn-md">Save</button>
        </form>